@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NEXON-Football-Gothic';
  src: url('../../public/fonts/NEXON-Football-Gothic.otf') format('truetype');
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../../public/fonts/Pretendard-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../../public/fonts/Pretendard-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../../public/fonts/Pretendard-SemiBold.otf') format('truetype');
}
